{include="header2"}
   <form action="{$fsc->url()}" method="post" class="form">
      <input type="hidden" name="codcliente" value="{$fsc->cliente->codcliente}"/>
      <input type="hidden" name="save" value="usocfdi"/>
      <div class='panel panel-primary'>
         <div class="panel-heading">
            <h3 class="panel-title">
               <span class="glyphicon glyphicon-pencil"></span>&nbsp; Uso CFDI. 
            </h3>
         </div>
         <div class="panel-body">
            <div class="col-sm-12">
               <div class="form-group">
                  Uso que le dara el cliente al CFDI.
                  {$uso=get_catalogo_cfdi('UsoCFDI')}
                  <select class="form-control" name="usocfdi">
                     {loop="uso"}
                     {if="$fsc->cliente_prop->text==$value->id"}
                     <option value="{$value->id}" selected="">{$value->id} - {$value->descripcion}</option>
                     {else}
                     <option value="{$value->id}">{$value->id} - {$value->descripcion}</option>
                     {/if}
                     {/loop}
                  </select>
               </div>
            </div>
         </div>
         <div class="panel-footer text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
            </button>
         </div>
      </div>
   </form>
   {if="$fsc->cliente_dir"}
   <form action="{$fsc->url()}" method="post" class="form">
      <input type="hidden" name="save" value="direccion"/>
      <input type="hidden" name="codcliente" value="{$fsc->cliente->codcliente}"/>
      <input type="hidden" name="coddir" value="{$fsc->cliente_dir->id}"/>
      <div class='panel panel-primary'>
         <div class="panel-heading">
            <h3 class="panel-title">
               <span class="glyphicon glyphicon-road"></span>&nbsp; Direccion para facturacion electronica. 
            </h3>
         </div>
         <div class="panel-body">
            <div class="col-sm-3">
               <div class="form-group">
                  <a href="{$fsc->pais->url()}">País</a>
                  <select class="form-control" name="pais">
                     {loop="$fsc->pais->all()"}
                     {if="$fsc->cliente_dir->codpais==$value->codpais"}
                     <option value="{$value->codpais}" selected="">{$value->nombre}</option>
                     {else}
                     <option value="{$value->codpais}">{$value->nombre}</option>
                     {/if}
                     {/loop}
                  </select>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  <span class="text-capitalize">{#FS_PROVINCIA#}</span>:
                  <input class="form-control" type="text" name="provincia" id="ac_provincia" value="{$fsc->cliente_dir->provincia}"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  Ciudad:
                  <input class="form-control" type="text" name="ciudad" value="{$fsc->cliente_dir->ciudad}"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  Municipio:
                  <input class="form-control" type="text" name="municipio" value="{$fsc->cliente_dir->municipio}"/>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="form-group">
                  Dirección:
                  <input class="form-control" type="text" name="direccion" value="{$fsc->cliente_dir->direccion}" autocomplete="off"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  N&uacute;mero exterior:
                  <input class="form-control" type="text" name="numero_ext" value="{$fsc->cliente_dir->numero_ext}" autocomplete="off"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  N&uacute;mero interior:
                  <input class="form-control" type="text" name="numero_int" value="{$fsc->cliente_dir->numero_int}" autocomplete="off"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  Colonia:
                  <input class="form-control" type="text" name="colonia" value="{$fsc->cliente_dir->colonia}" autocomplete="off"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  Código Postal:
                  <input class="form-control" type="text" name="codpostal" value="{$fsc->cliente_dir->codpostal}" maxlength="10" autocomplete="off"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  <span class="text-capitalize">{#FS_APARTADO#}</span>:
                  <input class="form-control" type="text" name="apartado" value="{$fsc->cliente_dir->apartado}" maxlength="10" autocomplete="off"/>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="form-group">
                  Descripción:
                  <input class="form-control" type="text" name="descripcion" value="{$fsc->cliente_dir->descripcion}" autocomplete="off"/>
               </div>
            </div>
         </div>
         <div class="panel-footer text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
            </button>
         </div>
      </div>
   </form>
   {else}
   <div class="alert alert-info">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      &nbsp; Ninguna direccion registrada. Registra almenos una direccion en el formulario principal.
   </div>
   {/if}