{include="header2"}
<div class="container-fluid">
	<div class="col-sm-12">
		<br>
		<div class="row">
			<form action="{$fsc->url()}" method="POST" class="form-inline" role="form">
				<input type="hidden" name="um" id="inputUm" class="form-control" value="">
				<input type="hidden" name="ref" id="inputRef" class="form-control" value="{$fsc->articulo->referencia}">
				<div class="input-group col-sm-4">
					<select name="umclave" id="input" class="form-control">
					{loop="$fsc->cfdi_um->all()"}
					{if="$fsc->articulo_um->claveum == $value->clave"}
					<option value="{$value->clave}" selected="TRUE">{$value->clave} {$value->descripcion}</option>
					{else}
					<option value="{$value->clave}">{$value->clave} {$value->descripcion}</option>
					{/if}
					{/loop}
				</select>			
				</div>			
				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
		</div>
		<br>		
	</div>
</div>
{include="footer2"}