{include="header"}
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-12">
            <p>Ha ocurrido un error</p>
        </div>
    </div>
    <br>        
</div>
{include="footer"}