{include="header"}
<div class="container-fluid">
    <br>
    {if="$fsc->rectificativa"}
    <div class="row">
    	<div class="col-sm-12">
    		<p>La nota de credito no esta asociada a ninguna factura, para poder generar el CFDI es necesario asginarla a una factura.</p>
    	</div>
    </div>
    <form id="f_asignarnc" name="f_asignarnc" action="{$fsc->url()}&id={$fsc->factura->idfactura}" method="POST">
    <input type="hidden" name="opcion" value="asignarnc">  
    <input type="hidden" name="rectificativa" value="true">    
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h3 class="panel-title"><strong>Datos de la nota de credito</strong></h3>
    	</div>
    	<div class="panel-body"> 
    		<p>Necesitas seleccionar una factura a la cual aplicarle la nota de credito.</p>
    		<div class="form-group col-sm-4">
    			<label for="cRectificativa" class="control-label">Factura</label>
    			<input type="text" class="form-control" name="cRectificativa" id="cRectificativa" value="{$fsc->factura->nombrecliente}">
    		</div> 
            <button class="btn btn-primary" id="btnguardar" type="button" onclick="f_asignarnc.submit()">
               <span class="glyphicon glyphicon-ok"></span>&nbsp; Cobrar
            </button>     
    	</div>
    </div>
    </form> 
    {/if}       
</div>
{include="footer"}