{include="header2"}
<div class="container-fluid">
    <br>
    <div class="row">
        <form action="{$fsc->url()}" method="POST" class="form" role="form">
            <input type="hidden" name="familia" value="{$fsc->familia->codfamilia}">
            <div class="form-group col-sm-6">
                <label for="clavesat" class="control-label">Clave producto o servicio:</label>
                <input type="text" class="form-control" name="clavesat" id="clavesat" value="{$fsc->familia->clavesat}" autocomplete="off" maxlength="8" autofocus />
            </div>    
            <div class="form-group">
                <div class="col-sm-10 col-offset-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div> 
        </form>
    </div>
    <br>        
</div>
{include="footer2"}