{include="header"}
<div class='container-fluid'>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="btn-group">
                <a id="b_imprimir" class="btn btn-sm btn-default" href="{$fsc->factura->url()}">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span class="hidden-xs">&nbsp;Factura</span>
                </a>
                <a id="b_imprimir" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal_xml">
                    <span class="glyphicon glyphicon-file"></span>
                    <span class="hidden-xs">&nbsp;Ver XML</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <h2 class="pull-left" style="display: inline-block"><strong>Nuevo CFDI</strong>
                    </h2>
                    <h2 style="display: inline-block">
                        <button type="submit" class="btn btn-md btn-warning" data-toggle="modal" data-target="#modal-confirm" data-href="{$fsc->url()}" data-modal-type="confirm">
                        <span class="glyphicon glyphicon-bell"></span> &nbsp; Timbrar</button>
                    </h2> 
                </div>
            </div>
            <form id="f_timbrar" name="f_timbrar" action="{$fsc->url()}&id={$fsc->factura->idfactura}" method="POST" role="form">
            <input type="hidden" name="opcion" value="timbrar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Datos del cliente</strong></h3>
                </div>
                <div class="panel-body">                                        
                    <div class="form-group col-sm-4">
                        <label for="cCliente" class="control-label">Cliente</label>
                        <input type="text" class="form-control" name="cCliente" id="cCliente" value="{$fsc->factura->nombrecliente}" readonly>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="cCliente" class="control-label">RFC</label>                    
                        <input type="text" class="form-control" name="cCliente" id="cCliente" value="{$fsc->factura->cifnif}" readonly>
                    </div>
                    <div class="form-group col-sm-4">
                        {$uso_cfdi=get_catalogo_cfdi('UsoCFDI')}
                        <label for="cUsoCFDI" class="control-label">Uso que le dara el cliente al CFDI.</label>
                        <select class="form-control" name="cUsoCFDI">
                            {loop="uso_cfdi"}
                            {if="$fsc->clientep->text==$value->id"}
                            <option value="{$value->id}" selected="">{$value->id} - {$value->descripcion}</option>
                            {else}
                            {if="'G03'==$value->id"}
                            <option value="{$value->id}" selected="">{$value->id} - {$value->descripcion}</option>
                            {else}
                            <option value="{$value->id}">{$value->id} - {$value->descripcion}</option>
                            {/if}
                            {/if}
                            {/loop}
                        </select> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="guardaUso" value="TRUE"/>Guardar uso del CFDI.
                            </label>
                        </div>   
                    </div>         
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Datos del CFDI</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-4">
                        <label for="cTipo" class="control-label">Tipo de comprobante</label>
                        <select class="form-control"  name="c-tipo" readonly>
                            <option value="I">INGRESO</option>
                            <option value="E">EGRESO</option>
                            <option value="I">PAGO</option>
                        </select>   
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="cCliente" class="control-label">Metodo de pago</label>
                        <input type="text" class="form-control" name="cCliente" id="cCliente" value="{$fsc->factura->codpago} - {$fsc->get_pago_desc($fsc->factura->codpago)}" readonly>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                {if="$fsc->factura->cifnif==='XAXX010101000'"}
                                <input type="checkbox" id="fglobal" name="fglobal" value="TRUE" checked />Factura Global
                                {else}
                                <input type="checkbox" id="fglobal" name="fglobal" value="FALSE" disabled /> Factura Global
                                {/if}                           
                            </label>
                        </div>
                    </div>      
                </div>
                <div class="panel-footer text-right">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-8">
                            <strong>Subtotal: </strong>
                        </div>  
                        <div class="col-sm-2">
                            {$fsc->show_precio($fsc->factura->neto)}
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-8">
                            <strong>IVA: </strong>
                        </div>   
                        <div class="col-sm-2">
                            {$fsc->show_precio($fsc->factura->totaliva)}
                        </div>                     
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-8">
                            <strong>Total: </strong>
                        </div>
                        <div class="col-sm-2">
                            {$fsc->show_precio($fsc->factura->total)}
                        </div>                        
                    </div>
                </div>
            </div>       
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modal_xml">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">XML antes del timbrado</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    {if="$fsc->xml"}
                    <p><pre>{$fsc->xml}</pre></p>
                    {else}
                    <div class="alert alert-info">
                        <p>No se ha cargado ningun dato.</p>
                    </div>
                    {/if}                            
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
   </div>
</div>
<div id="modal-confirm" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
            <h4 class="modal-title">Atencion!</h4>
        </div>
        <div class="modal-body">
             <p>Los datos para la factura son correctos?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-btn-si">Continuar</button>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
    $('#modal-confirm').on('show', function() {
    var link = $(this).data('link'),
        confirmBtn = $(this).find('.confirm');
    })

    $('#modal-btn-si').click(function() {
        $('#modal-confirm').modal('hide');    
        $('form').submit();  
    });
</script>
{include="footer"}