{include="header"}
<div class="container-fluid" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-sm-4">
            <span class="btn-group">
                <a class="btn btn-sm btn-default" href="{$fsc->url()}&get=pendientes" title="Recargar la página">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
                {if="$fsc->page->is_default()"}
                <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Marcada como página de inicio (pulsa de nuevo para desmarcar)">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </a>
                {else}
                <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </a>
                {/if}
            </span>
        </div>
        <div class="col-sm-8 text-right">
            <span class="h2 text-capitalize">{$fsc->page->folder} / {$fsc->page->title}</span>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="{$fsc->url()}">
            <span class="glyphicon glyphicon-list"></span>
            <span class="hidden-xs">Pendientes</span>
        </a>
    </li>
</ul>

<div class="table-responsive"> 
    <table class="table table-hover">
       <thead>
          <tr>
             <th class="text-left">Folio</th>
             <th class="text-left">Cliente</th>
             <th class="text-right visible-lg">Total</th>
             <th class="text-right">Fecha</th>
             <th class="text-right">Hora</th>                                 
          </tr>
       </thead>
       <tbody>                                                 
          {loop="$fsc->pendientes"}
          <tr class="clickableRow" href="{$value->url()}"  target="_blank">
             <td>
                {$value->codigo}
             </td>
             <td>
                {$value->nombrecliente}            
             </td>
             <td class="text-right visible-lg" title="{$fsc->show_precio($value->total)}">
                {$fsc->show_precio($value->total)}
             </td>
             <td class="text-right">
                {$value->fecha}
             </td>  
             <td class="text-right">
                {$value->hora}
             </td>                               
          </tr>    
          {else}
          <div class="alert alert-success">
             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
             &nbsp; Ninguna factura pendiente por timbrar.
          </div>
          {/loop}                              
       </tbody>
    </table>
</div><!-- End table -->                        
{include="footer"}