{include="header"}
<script type="text/javascript" src="{$fsc->get_js_location('provincias.js')}"></script>
<div class='container-fluid'>
   {if="$fsc->settings['cfdi_prueba']"}
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      &nbsp; Modo prueba activado.
   </div>
   {/if}
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-globe"></span>
               {$fsc->empresa->nombre}
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <span class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                  {/if}
               {/loop}
               </span>
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3 col-lg-2">
         <ul class="nav nav-pills nav-stacked">
           <li class="active"><a data-toggle="pill" href="#sec1">Datos de la empresa</a>
           </li>
           <li><a data-toggle="pill" href="#sec2">Datos para facturaci&oacute;n</a>
           </li>
           <li><a data-toggle="pill" href="#sec3">Datos para timbrado</a>
           </li>
           <li><a data-toggle="pill" href="#sec4">Datos para articulos</a>
           </li>
         </ul>
      </div>
      <div class="col-sm-9 col-lg-10"> 
         <form name="f_cfdiconfig" action="{$fsc->page->url()}" method="post" class="form" role="form" enctype="multipart/form-data">
         <input type="hidden" name="save" value="settings"/>     
         <div class="tab-content">          
            <div id="sec1" class="tab-pane active">         
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Informaci&oacute;n de la empresa</h3>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-sm-9">
                           <div class="form-group">
                              Raz&oacute;n Social:
                              <input class="form-control" type="text" name="cfdi_razon" value="{$fsc->settings['cfdi_razon']}" autocomplete="off" autofocus />
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-group">
                              RFC:
                              <input class="form-control" type="text" name="cfdi_rfc" value="{$fsc->settings['cfdi_rfc']}" autocomplete="off" autofocus />
                           </div>
                        </div>                                      
                     </div>
                     <hr> 
                     <div class="row">
                        <div class="col-sm-8">
                           <div class="form-group">
                              Direcci&oacute;n:
                              <input class="form-control" type="text" name="cfdi_dir" value="{$fsc->settings['cfdi_dir']}" autocomplete="off" autofocus />
                           </div>
                        </div>
                        <div class="col-sm-2">
                           <div class="form-group">
                              N&uacute;mero Exterior:
                              <input class="form-control" type="text" name="cfdi_dir_num" value="{$fsc->settings['cfdi_dir_num']}" autocomplete="off" autofocus />
                           </div>
                        </div>
                        <div class="col-sm-2">
                           <div class="form-group">
                              N&uacute;mero Interior:
                              <input class="form-control" type="text" name="cfdi_dir_nume" value="" placeholder="S/N" autocomplete="off" autofocus />
                           </div>
                        </div>                                        
                     </div> 
                     <div class="row">
                        <div class="col-sm-4">
                           <div class="form-group">
                              Colonia:
                              <input class="form-control" type="text" name="cfdi_dir_col" value="{$fsc->settings['cfdi_dir_col']}" autocomplete="off" autofocus />
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              Municipio:
                              <input class="form-control" type="text" name="cfdi_dir_mun" value="{$fsc->settings['cfdi_dir_mun']}" autocomplete="off" autofocus />
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              Localidad:
                              <input class="form-control" type="text" name="cfdi_dir_loc" value="{$fsc->settings['cfdi_dir_loc']}" autocomplete="off" autofocus />
                           </div>
                        </div>                                        
                     </div>
                     <div class="row">
                        <div class="col-sm-4">
                           <div class="form-group">
                              C&oacute;digo Postal:
                              <input class="form-control" type="text" name="cfdi_dir_cp" value="{$fsc->settings['cfdi_dir_cp']}" autocomplete="off" autofocus />
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              Estado:
                              <input class="form-control" type="text" name="cfdi_dir_edo" id="ac_provincia" value="{$fsc->settings['cfdi_dir_edo']}" autocomplete="off" autofocus />
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              Pais:
                              <input class="form-control" type="text" name="cfdi_dir_pais" value="{$fsc->settings['cfdi_dir_pais']}" autocomplete="off" autofocus />
                           </div>
                        </div>                                        
                     </div>                               
                  </div>
                  <div class="panel-footer text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                     </button>
                  </div>
               </div>              
            </div>
            <div id="sec2" class="tab-pane">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Datos para facturacion electronica</h3>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="form-group">
                              R&eacute;gimen fiscal:
                              <select class="form-control" name="cfdi_regimen">
                                 {$c_regimen=get_catalogo_cfdi('RegimenFiscal')}
                                 {loop="c_regimen"}
                                 {if="$fsc->settings['cfdi_regimen']==$value->id"}
                                 <option value="{$value->id}" selected="">{$value->id} - {$value->descripcion}</option>
                                 {else}
                                 <option value="{$value->id}">{$value->id} - {$value->descripcion}</option>
                                 {/if}
                                 {/loop}
                              </select>   
                           </div>
                        </div>                                 
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              N&uacute;mero de certificado:
                              <input class="form-control" type="text" name="cfdi_num_cert" value="{$fsc->settings['cfdi_num_cert']}" autocomplete="off"/>
                           </div>
                        </div>    
                        <div class="col-sm-6">
                           <div class="form-group">
                              Constrase&ntilde;a del archivo .key:
                              <input class="form-control" type="password" name="cfdi_key_pass" value="{$fsc->settings['cfdi_key_pass']}" autocomplete="off"/>
                           </div>
                        </div>     
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                           Archivo de llave privada *.key:
                              <input type="file" name="cfdi_key" class="filestyle" data-placeholder="{function="basename($fsc->settings['cfdi_key'])"}" data-buttonText=""/>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              Certificado de sello digital *.cer:      
                            <input type="file" name="cfdi_cer" class="filestyle" data-placeholder="{function="basename($fsc->settings['cfdi_cer'])"}" data-buttonText=""/>
                            </div>
                        </div>                     
                     </div> 
                  </div>
                  <div class="panel-footer text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                     </button>
                  </div>
               </div>
            </div>
            <div id="sec3" class="tab-pane">         
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Datos de acceso al servicio de timbrado</h3>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              Usuario:
                              <input class="form-control" type="text" name="cfdi_user_timbre" value="{$fsc->settings['cfdi_user_timbre']}" autocomplete="off"/>
                           </div>
                           <label class="checkbox-inline">
                              {if="$fsc->settings['cfdi_prueba']"}
                              <input type="checkbox" name="cfdi_prueba" checked="TRUE">Modo prueba (Usar servicio de pruebas).
                              {else}
                              <input type="checkbox" name="cfdi_prueba">Modo prueba (Usar servicio de pruebas).
                              {/if}
                           </label>
                        </div>  
                        <div class="col-sm-6">
                           <div class="form-group">
                              Constrase&ntilde;a:
                              <input class="form-control" type="password" name="cfdi_pass_timbre" value="{$fsc->settings['cfdi_pass_timbre']}" autocomplete="off"/>
                           </div>
                           <label class="checkbox-inline">
                              {if="$fsc->settings['cfdi_notimbrar']"}
                              <input type="checkbox" name="c_notimbrar" checked="TRUE">No timbrar (Genera sello, cadena pero no timbra con el pac).
                              {else}
                              <input type="checkbox" name="c_notimbrar">No timbrar (Genera sello, cadena pero no timbra con el pac).
                              {/if}
                           </label>
                        </div>
                     </div>                        
                  </div>
                  <div class="panel-footer text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                     </button>
                  </div>
               </div>              
            </div>
            <div id="sec4" class="tab-pane">         
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Otras configuraciones</h3>
                  </div>
                  <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-6">
                        Unidades de medida segun el SAT.
                        <hr>
                        {loop="$fsc->cfdi_um->all()"}
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="form-group">
                                 <input class="form-control" type="text" name="um_{$value->clave}" value="{$value->clave}" autocomplete="off" disabled="disabled"/>    
                              </div>
                           </div>
                           <div class="col-sm-7">
                              <div class="input-group">
                                 <input type="text" class="form-control" placeholder="{$value->descripcion}" value="{$value->descripcion}" disabled="disabled"/>        
                                 <span class="input-group-btn">                                    
                                    <button type="button" class="btn btn-primary" aria-label="Edit">
                                       <span class="glyphicon glyphicon-pencil"></span>
                                    </button> 
                                 </span>
                              </div>
                           </div>
                        </div>
                        {/loop}
                     </div>  
                     <div class="col-sm-6">
                        <div class="form-group">
                           Unidad de medida por defecto:
                           <select class="form-control" name="cfdi_art_umedida">
                              {loop="$fsc->cfdi_um->all()"}
                              <option value="{$value->clave}">{$value->descripcion}</option>
                              {/loop}
                           </select>     
                        </div>
                        <hr>
                        <div class="row">
                           <div class="col-sm-3">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_nueva_um">Nueva</button>
                           </div>
                        </div>
                     </div>
                  </div>                        
                  </div>
                  <div class="panel-footer text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                     </button>
                  </div>
               </div>              
            </div>            
         </div>  
         </form>       
      </div>
   </div>
</div>

<div class="modal" id="modal_nueva_um">
   <div class="modal-dialog">
      <div class="modal-content">
         <form name="f_nueva_um" id="f_nueva_um" action="{$fsc->url()}" method="post">
            <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
            <input type="hidden" name="save" value="um"/>
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nueva unidad de medida</h4>
            </div>
            <div class="modal-body">                           
               <div class="row">                           
                  <div class="col-sm-4">
                     <div class="form-group">
                        <input type="text" class="form-control" name="clave_um" placeholder="Clave" autocomplete="off"/>    
                     </div>
                  </div>
                  <div class="col-sm-8">
                     <div class="form-group">
                        <input type="text" class="form-control" name="descrip_um" placeholder="Nombre" autocomplete="off"/> 
                     </div>
                  </div>
               </div>            
            </div>
            <div class="modal-footer">
               <div class="row">
                  <div class="col-sm-6">
                     <button class="btn btn-primary btn-md" type="submit" form="f_nueva_um">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp; Cobrar
                     </button>
                  </div>      
               </div>
            </div>
         </form>
      </div>     
   </div>
</div>

{include="footer"}