{include="header"}
<div class='container-fluid'>
    <div class="row">
        <a href="../lib/php-qrcode/public/index.html"></a>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <div class="btn-group">
                <a id="b_imprimir" class="btn btn-sm btn-default" href="index.php?page=cfdi_lista">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span class="hidden-xs">&nbsp;Lista</span>
                </a>
                <a id="b_imprimir" class="btn btn-sm btn-default" href="{$fsc->factura->url()}">
                    <span class="glyphicon glyphicon-file"></span>
                    <span class="hidden-xs">&nbsp;Factura</span>
                </a>
                <a id="b_pdf" class="btn btn-sm btn-default" href="{$fsc->cfdi->url()}&do=PDF">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="hidden-xs">&nbsp;PDF</span>
                </a>
                <a id="b_xml" class="btn btn-sm btn-default" href="{$fsc->cfdi->url()}&do=XML">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="hidden-xs">&nbsp;XML</span>
                </a>
                <a id="b_mail" class="btn btn-sm btn-default" href="{$fsc->cfdi->url()}&do=MAIL">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="hidden-xs">&nbsp;Enviar</span>
                </a>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="text-right">
            {if="$fsc->cfdi->cancelado || !$fsc->allow_delete"}
                <button type="button" class="btn btn-sm btn-danger" disabled="true">
                    <span class="glyphicon glyphicon-remove"></span> &nbsp; Cancelar
                </button>
            {else}
            <form id="f_cancelar" name="f_cancelar" action="{$fsc->cfdi->url()}&do=CANCEL" method="POST" role="form">
                <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
                <input type="hidden" name="cfdi" value="{$fsc->cfdi->id}"/>       
                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-confirm">
                    <span class="glyphicon glyphicon-remove"></span> &nbsp; Cancelar
                </button>
            </form>
            {/if}
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        {if="$fsc->cfdi->cancelado"}
            <div class="alert alert-danger" role="alert"> 
                Este CFDI se encuentra <strong>Cancelado!</strong> 
            </div>
        {/if}        
        <div class="row">
            <div class="col-sm-12 text-right">
                <h2 class="pull-left" style="display: inline-block"><strong>{$fsc->cfdi->folio}</strong></h2>
                <h2 style="display: inline-block">UUID: <strong>{$fsc->cfdi->uuid|strtoupper}</strong></h2> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <address>
                <strong>Lugar de expedición: </strong>
                    CP: {$fsc->cfdi->cpexpedicion}
                </address>
            </div>
            <div class="col-xs-6 text-right">
                <address>
                    <strong>Fecha de expedición: </strong>
                    {$fsc->cfdi->fecha}
                </address>
                {if="$fsc->cfdi->cfdirelacion"}
                <strong>Relacionado: </strong>
                    {$fsc->cfdi->cfdirelacion|strtoupper}
                <strong>Tipo de relación: </strong>
                    {$fsc->cfdi->tiporelacion}
                {/if}
            </div>           
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Emisor:</strong></h3>
                    </div>
                    <div class="panel-body">
                        {$fsc->cfdi->rfcemisor}<br>
                        <strong>Regimen: </strong>{$fsc->cfdi->regimenemisor}<br>  
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Cliente:</strong></h3>
                    </div>
                    <div class="panel-body">
                        {$fsc->cfdi->codcliente} {$fsc->factura->nombrecliente}<br>
                        {$fsc->cfdi->rfcreceptor}<br>  
                    </div>
                </div>            
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <strong>Metodo de pago: </strong>{$fsc->cfdi->metopago} <strong>Forma de pago: </strong>{$fsc->cfdi->formpago} <strong>Uso CFDI: </strong>{$fsc->cfdi->usocod}<br>
            </div>
            <div class="col-xs-6 text-right">
                <strong>No de Certificado: </strong>{$fsc->xml['documento']['NoCertificado']} <strong>Tipo Comprobante: </strong>{$fsc->xml['documento']['TipoDeComprobante']}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Productos</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td class="text-center"><strong>Cantidad</strong></td>
                                        <td><strong>Descripcion</strong></td>
                                        <td class="text-center"><strong>Precio</strong></td>
                                        <td class="text-right"><strong>Importe</strong></td>
                                    </tr>
                                </thead>
                                <tbody>   
                                    {$lineas=$fsc->xml['conceptos']}
                                    {loop="$lineas"}
                                    <tr>
                                        <td class="text-center">{$value['Cantidad']}</td>
                                        <td>{$value['Descripcion']}</td>
                                        <td class="text-right">{$fsc->show_precio($value['ValorUnitario'], $fsc->factura->coddivisa)}</td>
                                        <td class="text-right">{$fsc->show_precio($value['Importe'], $fsc->factura->coddivisa)}</td>
                                    </tr>
                                    {/loop}                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-8">
                                <strong>Subtotal: </strong>
                            </div>  
                            <div class="col-sm-2">
                                {$fsc->show_precio($fsc->cfdi->subtotal, $fsc->cfdi->moneda)}
                            </div>                      
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-8">
                                <strong>IVA: </strong>
                            </div>   
                            <div class="col-sm-2">
                                {$fsc->show_precio($fsc->cfdi->iva, $fsc->cfdi->moneda)}
                            </div>                     
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-8">
                                <strong>Total: </strong>
                            </div>
                            <div class="col-sm-2">
                                {$fsc->show_precio($fsc->cfdi->total, $fsc->cfdi->moneda)}
                                {$totalletra=fs_numero_a_letra($fsc->cfdi->total,$fsc->cfdi->moneda)}
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4><strong>Total con letra: </strong> {$totalletra}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text">
                <strong>Sello Digital del CFDI</strong>
                <p style="word-wrap: break-word;">{$fsc->cfdi->cadenasat}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="{$fsc->generar_qr()}"  class="img-responsive">
            </div>
            <div class="col-sm-9">
                <strong>Sello digital del SAT:</strong>
                <p style="word-wrap: break-word;">{$fsc->xml['tfd']['SelloSAT']}</p>
                <strong>Cadena Original del complemento de certificacion digital del SAT:</strong>
                <p style="word-wrap: break-word;">{$fsc->cfdi->cadenasat}</p>
                <strong>Certificado del SAT: </strong>{$fsc->xml['tfd']['NoCertificadoSAT']} <strong>Fecha del Timbrado: </strong>{$fsc->xml['tfd']['FechaTimbrado']} <strong>RfcProvCertif: </strong>{$fsc->xml['tfd']['RfcProvCertif']}
            </div>
        </div>
      </div>
   </div>
</div>
<div id="modal-confirm" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
            <h4 class="modal-title">Atencion!</h4>
        </div>
        <div class="modal-body">
             <p>Esta seguro que quiere cancelar este CFDI?. Esta accion no se puede deshacer!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="modal-btn-si">Continuar</button>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
    $('#modal-btn-si').click(function() {
        $('#modal-confirm').modal('hide');    
        $('#f_cancelar').submit();  
    });
</script>
{include="footer"}